h1{
  font-size: 40px;
  color: brown;
  background-color: wheat;
  padding: 15px;
  margin: 10px 0px;
}

.content{
  background-color: whitesmoke;
  padding: 15px;
  border: solid 1px #ccc;
}

img{
  border: solid 1px #ccc;
  border-radius: 50%;
}