h1{
  font-size: 40px;
  color: brown;
  background-color: wheat;
  padding: 15px;
  margin: 10px 0px;
}

.content{
  background-color: whitesmoke;
  padding: 15px;
  border: solid 1px #ccc;
}

img{
  border: solid 1px #ccc;
  border-radius: 50%;
}

a:hover{
  color: red;
}

table{
  border: solid 1px #ccc;
  padding: 15px;
  background-color: white;
}

td{
  text-align: right;
}

.header{
  background-size: cover;
  background-image: url("./nuno.jpg");
  color: white;
  width: 100%;
  font-size: 30px;
  text-align: center;
  font-size: 40px;
  font-family: serif;
  font-weight: bold;
  padding: 20px;
  box-sizing: border-box;
}

.panel{
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
  float: left;
}

